.nav {
  display: flex;
}
.navbar {
  width: 80vw;
}
.sidebar {
  width: 20vw;
  height: 100vh;
}
.sidebarContainer {
  min-height: 94vh;
  width: 20vw;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding-top: 53px;
}
.logo {
  width: 120px;
}
.dottedLine {
  border-bottom: 1px dotted black;
  opacity: 0.17;
}
.dottedImg {
  width: 14vw;
  margin-left: 15%;
}
.logoutSideBtn {
  margin-top: 150px;
}
.imgCenter {
  margin: 0 auto;
}
